<nav
  class="nav_container <%= background === "transparent" ? "" : "blackground" %>"
>
  <div class="logo_container">
    <img src="../images/nmp_logo_transparent_cropped.png" alt="logo_of_nmp" />
  </div>
  <div class="nav_links">
    <a class="nav_button shop_button" title="Coming soon!">SHOP</a>
    <a href="/gallery" class="nav_button">GALLERY</a>
    <a href="/#about" class="nav_button" title="About Page">ABOUT</a>
    <a href="/join_page" class="nav_button_join">JOIN</a>
  </div>
  <div class="burger_button">
    <ion-icon class="burger_button_icon" name="menu-outline"></ion-icon>
  </div>
</nav>
<div class="hamburger invisible">
  <div class="burger_links">
    <a href="/join_page">JOIN</a>
    <a href="/#get_in_touch">GET IN TOUCH</a>
    <a href="/gallery">GALLERY</a>
    <a href="/#about">ABOUT</a>
    <a title="Coming Soon">SHOP (Coming Soon)</a>
  </div>
</div>
