<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="fitness" />
    <meta
      name="description"
      content="No mercy Physique About Page. Our Vision, Our Purpose."
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/nmp_logo_transparent_cropped.png"
      sizes="300x300"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Plus+Jakarta+Sans&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>About No Mercy Physique</title>
  </head>
  <body>
    <div class="about_page">
      <%- include("partials/navbar", {background: "black"}) %>

      <div class="about_page_content_container">
        <h3>MORE ABOUT</h3>
        <h1>No Mercy Physique</h1>
      </div>
      <div>
        <h2>Our Vision</h2>
        <p>
          To establish ourselves as a leading fitness establishment in our local
          communities throughout South Africa. We understand the importance of
          community connection and social interaction in maintaining a healthy
          lifestyle. That's why we organize regular community events, workshops,
          and challenges to foster a sense of belonging and camaraderie among
          our members. We believe that by coming together, we can inspire and
          uplift one another to reach new heights of wellness.
        </p>
      </div>
      <div>
        <h2>Our Mission</h2>
        <p>
          To enhance the well-being and health of individuals within our
          communities. NMP is deeply committed to the well-being of our members.
          We prioritize safety by maintaining a clean and sanitized facility,
          adhering to strict health protocols, and providing a comfortable and
          secure environment for all. We also offer flexible membership options
          to accommodate various schedules and budgets.
        </p>
      </div>
    </div>
    <script defer src="../javascript/index.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
