<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="fit people, weights" />
    <meta
      name="description"
      content="No Mercy Physique Gallery. Everyone that NMP changed."
    />
    <title>NMP Gallery</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/nmp_logo_transparent_cropped.png"
      sizes="300x300"
    />

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Plus+Jakarta+Sans&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <%- include("partials/navbar", {background: "black"}) %>
      <div class="gallery_container">
        <div class="gallery_heading">
          <p>NO MERCY PHYSIQUE</p>
          <h1>OUR GALLERY</h1>
        </div>
        <div class="gallery">
          <div class="dream">
            <img
              class="gallery_img"
              src="/images/gallery/3.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/29.webp"
              loading="lazy"
            />

            <img class="gallery_img" src="/images/gallery/1.webp" /><img
              class="gallery_img"
              src="/images/gallery/4.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-1.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/2.webp"
              loading="lazy"
            /><img
              class="gallery_img"
              src="/images/gallery/6.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-5.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/23.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/18.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/14.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/32.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/33.webp"
              loading="lazy"
            />
          </div>

          <div class="dream">
            <img
              class="gallery_img"
              src="/images/gallery/15.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-2.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/8.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/9.webp"
              loading="lazy"
            /><img
              class="gallery_img"
              src="/images/gallery/10.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-8.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/11.webp"
              loading="lazy"
            /><img
              class="gallery_img"
              src="/images/gallery/12.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/21.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/25.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/26.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/30.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-7.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/22.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/34.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/35.webp"
              loading="lazy"
            />
          </div>

          <div class="dream">
            <img
              class="gallery_img"
              src="/images/gallery/31.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/7.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-4.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/13.webp"
              loading="lazy"
            />

            <img
              class="gallery_img"
              src="/images/gallery/16.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/17.webp"
              loading="lazy"
            />
            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-6.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/24.webp"
              loading="lazy"
            /><img
              class="gallery_img"
              src="/images/gallery/19.webp"
              loading="lazy"
            />

            <video autoplay muted loop>
              <source
                src="/images/gallery/vid-3.mp4"
                type="video/mp4"
                loading="lazy"
              />
            </video>
            <img
              class="gallery_img"
              src="/images/gallery/20.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/27.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/28.webp"
              loading="lazy"
            />
            <img
              class="gallery_img"
              src="/images/gallery/5.webp"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </section>
    <script defer src="../javascript/index.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
