<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <meta name="Keywords" content="Join, gym, lose weight" />
    <meta
      name="Description"
      content="Become a member of No Mercy Physique. Join Page"
    />
    <title>NMP | Join Us</title>

    <!--FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/nmp_logo_transparent_cropped.png"
      sizes="300x300"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Plus+Jakarta+Sans&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("partials/navbar", {background: "black"}); %>
    <section class="join_section">
      <div class="join_container">
        <div class="join_heading">
          <h1>You're just one click away from getting your dream Physique</h1>
          <p>A coach will be in contact with you as soon as possible</p>
        </div>
        <form action="/join_page" method="POST">
          <input placeholder="Your Name" name="nameOfJoinPerson" />
          <input placeholder="Your Number" name="phoneOfJoinPerson" />
          <input placeholder="Email (Optional)" name="emailOfJoinPerson" />
          <button type="submit">Join now</button>
        </form>
      </div>
    </section>
    <script defer src="../javascript/index.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
